<h1>Backups#create</h1>
<p>Find me in app/views/backups/create.html.erb</p>

<% @backups.each do |backup| %>
    <tr>
      <td><%= backup.created_at %></td>
      <td><%= backup.body %></td>
      <td><%= link_to 'Show', backup_path(backup) %></td>
    </tr>
  <% end %>